.feedback {
    &__container {}
    &__title {
        font-size: 40px;
        font-weight: 600;
        color: #000000;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    &__card {}
    
}

.feedback-card {
    background-color: #FFFFFF;
        border-radius: 10px;
    &__header {
        display: flex;
    }
    &__letter {
        width: 80px;
        height: 80px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
    &__header-info {
        display: flex;
        flex-direction: column;
    }
    &__name {
        
    }
    &__date {}
    &__content {
        font-size: 20px;
        color: #000000;
    }
    &__stars {
        width: 140px;
        height: 20px;
    }
}
