.services {
    margin-top: 50px;
    margin-bottom: 50px;
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__stiky {
        flex: 0 0 350px;
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        color: black;
    }
    
    &__cards {
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        gap:85px;
    }


    &__one-card {
        
    }
    
}



.service-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;

    &:nth-child(1) {
        & .service-card__image {
            right: 30px;
        }
    }
    &:nth-child(2) {
        
    }
    &:nth-child(3) {
        
    }
    &:nth-child(4) {
        & .service-card__image {
            bottom: -60px;
            right: -30px;
        }
    }

    &__text-group {
    }

    &__title {
        color: white;
        font-weight: 600;
        font-size: 40px;
    }

    &__text {
        color: white;
        font-weight: 400;
        font-size: 15px;
        max-width: 300px;
    }

    &__button {
        font-size: 20px;
        align-items: center;
        font-weight: 400;
        background-color: transparent;
        border-radius: 5px;
        border-color: white;
        color: white;
        width: 160px;
        height: 45px;
        text-transform: capitalize;
        padding: 0;
        &:hover {
            color: white;
        }
       
    }

    

    &__card-text-group {}

    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
}





